OutlierDetection/sensorData.csv
OutlierDetection/.vs/ProiectCercetare/v14/.suo
OutlierDetection/__pycache__/detectOutliers.cpython-35.pyc
OutlierDetection/.vs/config/applicationhost.config
/data2
/OutlierDetection/__pycache__
/OutlierDetection/sensorData_frame.csv
